<article class="body2">
  <h3 class="title">Offers</h3>
  <section class="wrapper">
    <div class="cardimg card-one">
      <div class="text-section">
        <h4 class="h4">Chicago</h4>
        <div class="number">
          <p class="p1">From $600</p>
          <p class="p2">.00</p>
        </div>
      </div>
    </div>
    <div class="cardimg card-two">
      <div class="text-section">
        <h4 class="h4">Porto</h4>
        <div class="number">
          <p class="p1">From $600</p>
          <p class="p2">.00</p>
        </div>
      </div>
    </div>
    <div class="cardimg card-three">
      <div class="text-section">
        <h4 class="h4">Mira</h4>
        <div class="number">
          <p class="p1">From $600</p>
          <p class="p2">.00</p>
        </div>
      </div>
    </div>
  </section>
</article>
