<article class="body2">
  <section class="wrapper">
    <div class="card-one"></div>
    <div class="card-two">
      <div class="text-section">
        <h4 class="h4">Destinations</h4>
        <div>
          <p>Madrid</p>
          <br />
          <p>Barcelona</p>
          <br />
          <p>London</p>
          <br />
          <p>Paris</p>
          <br />
          <p>Roma</p>
        </div>
      </div>
    </div>
    <div class="card-three">
      <div class="text-section">
        <h4 class="h4">Legal information</h4>
        <div>
          <p>Privacy policy</p>
          <br />
          <p>Cookie policies</p>
          <br />
          <p>data treatment</p>
          <br />
        </div>
      </div>
    </div>
    <div class="card-four">
      <div class="text-section">
        <h4 class="h4">Book your flight</h4>
        <div>
          <p>Search flights</p>
          <br />
          <p>Price calendar</p>
          <br />
          <p>Destination map</p>
          <br />
          <p>Flight times</p>
          <br />
        </div>
        <h4 class="h4">Follow us</h4>
        <div class="logos">
          <img class="imgf" src="assets/twitter.png" />
          <img class="imgf" src="assets/facebook.png" />
          <img class="imgf" src="assets/youtube.png" />
        </div>
      </div>
    </div>
  </section>
</article>
<div class="footer2">
  <p class="p">Website terms of use</p>
  <p class="p">|</p>
  <p class="p">Site map</p>
  <p class="p">|</p>
  <p class="p">environment</p>
  <p class="p">|</p>
  <p class="p">contact&#64;arilines.com</p>
</div>
