<input type="checkbox" id="toggle-menu" class="check">
<header class="header">
      <label for="toggle-menu" class="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <label for="toggle-menu" class="close-menu"></label>
    <img src="assets/logo 1.png" alt="Logo1" class="logo-1">
    <nav class="navbar">
        <ul class="navbar-list">
            <li><a>Check-in</a></li>
            <li><a>Manage my booking</a></li>
            <li><a>Information</a></li>
        </ul>
    </nav>
    <img src="assets/word.png" alt="Logo3" class="logo-3">
</header>
